{% extends 'layout.html' %}
{% load staticfiles %}

{% block nav-internet %}
layui-this
{% endblock %}

{% block content %}
<div class="layui-body">
<!-- 内容主体区域 -->
<div class="layui-header layui-bg-blue" style="widows: 100%;height: 40px;">
                <div class="layui-logo layui-bg-blue" style="line-height: 42px;width: 100px">选择年级</div>
                <ul class="layui-nav  layui-layout-right">
                    <li class="layui-nav-item" lay-unselect="" style="line-height: 42px;">
                        <a href="javascript:;">年级</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/student/internet/?term=180">大一</a></dd>
                          <dd><a href="/student/internet/?term=170" >大二</a></dd>
                          <dd><a href="/student/internet/?term=160">大三</a></dd>
                          <dd><a href="/student/internet/?term=150">大四</a></dd>
                        </dl>
                    </li>
                </ul>
        </div>
        <hr>
    <div class="layui-col-md12 layui-card" >
        <div class="layui-card-header">
            <strong>流量使用情况分布</strong>&nbsp;&nbsp;
            
        </div>
        <div class="layui-card-body">
            <div id="main" style="height:400px"></div>
        </div>
    </div>
    <div class="layui-col-md12 layui-card" >
        <div class="layui-card-header">
            <strong>各时间段上网人数</strong>&nbsp;&nbsp;
        </div>
        <div class="layui-card-body">
            <div id="main1" style="height:400px"></div>
        </div>
    </div>

</div>

{% endblock %}


{% block script %}
<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: "{% static 'js/echarts-2.2.7/build/dist' %}"
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/line'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main1')); 
                
                var option = {
                    tooltip : {
                        trigger: 'axis'
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            axisLabel : {
                                formatter: '{value} 点'
                            },
                            boundaryGap : false,
                            data : ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','0']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                                formatter: '{value} 人'
                            }
                        }
                    ],
                    series : [
                        {
                            name:'上网人数',
                            type:'line',
                            data:{{ b }},
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            }
                        },
                    ]
                };
                    
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
    </script>
<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: "{% static 'js/echarts-2.2.7/build/dist' %}"
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/scatter', // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                
                var option = {
    tooltip : {
        trigger: 'axis',
        showDelay : 0,
        formatter : function (params) {
            if (params.value.length > 1) {
                return params.seriesName + ' :<br/>'
                   + params.value[0] + 'min ' 
                   + params.value[1] + 'M';
            }
            else {
                return params.seriesName + ' :<br/>'
                   + params.name + ' : '
                   + params.value + 'kg ';
            }
        },  
        axisPointer:{
            show: true,
            type : 'cross',
            lineStyle: {
                type : 'dashed',
                width : 1
            }
        }
    },
    legend: {
        //data:['大一','大二','大三','大四']
        data:['男','女']
    },
    toolbox: {
        show : true,
        feature : {
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    xAxis : [
        {
            type : 'value',
            scale:true,
            axisLabel : {
                formatter: '{value} min'
            }
        }
    ],
    yAxis : [
        {
            type : 'value',
            scale:true,
            axisLabel : {
                formatter: '{value} kb'
            }
        }
    ],
    series : [
        {
            name:'女',
            type:'scatter',
            data:{{ a.0 }},
            /*data: [
            {% for a1 in a.0 %}
            [{{ a1.duration }}, {{ a1.flow }}],
            {% endfor %}   
            ],*/
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        {
            name:'男',
            type:'scatter',
            data:{{ a.1 }},
            /*data: [
            {% for a1 in a.1 %}
            [{{ a1.duration }}, {{ a1.flow }}],
            {% endfor %}   
            ],*/
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        /*{
            name:'大三',
            type:'scatter',
            data: [
            {% for a1 in a.2 %}
            [{{ a1.duration }}, {{ a1.flow }}],
            {% endfor %}   
            ],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        {
            name:'大四',
            type:'scatter',
            data: [
            {% for a1 in a.3 %}
            [{{ a1.duration }}, {{ a1.flow }}],
            {% endfor %}
            ],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        }*/
    ]
};
                    
                    
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
    </script>
{% endblock %}
